*.env
.env.development
_.env.development
*.envrc

node_modules
.next

.idea
.DS_Store

seed-strava.sql

.github/scripts/data
screenshots

tsconfig.tsbuildinfo
.env.production
keys/

backups

scripts/pg.ts
unsafe_user.json

samples/
.kamal