*.env
.env.development
_.env.development
*.envrc

node_modules
.next

.idea
.DS_Store
.vscode
.snaplet

seed-strava.sql

.github/scripts/data
screenshots

tsconfig.tsbuildinfo
.env.production
keys/

yarn-error.log
backups

scripts/pg.ts
